@import "variables";

.MainPageContainer {
    @extend %display-column;
    margin: 5%;
}

.TopTenContainer {
    @extend %display-row;
    margin-bottom: 80px;
}

.topTenHeader {
    width: 150px;
    span {
        font-size: 96px;
        font-weight: 700;
    }
}

.latestSeriesContainer {
    @extend %display-row;
    flex-wrap: wrap;
    padding-left: 5%;
    img {
        width: 13em;
        height: 17em;
        margin: 3% 2% 0 0;
    }
    img:hover {
        cursor: pointer;
        box-shadow: map-deep-get($theme-colors, "shadow-for", "image");
    }
}
